### 03 â€“ EDA on MARS MOOC Dataset

Goal:
- Load the MARS ratings/interaction file.
- Inspect columns (user_id, item_id, timestamps, implicit/explicit signals).
- Plan how to convert to (user_id, session_id, item_id, timestamp, interaction_type).

In [1]:
import pandas as pd

path = "../data/raw/mars/explicit_ratings_en.csv"  # or implicit/explicit file
df = pd.read_csv(path)

df.head()

   user_id  item_id  watch_percentage           created_at  rating
0   224557      510               100  2018-09-28 16:18:29      10
1   224557      615               100  2018-09-28 16:22:22      10
2   224557     7680               100  2018-09-28 16:23:34      10
3   224293      510               100  2018-09-28 17:20:30      10
4   224293      515               100  2018-09-28 17:40:02      10

In [2]:
print(df.columns)
print(df.dtypes)
print("Users:", df["user_id"].nunique())
print("Items:", df["item_id"].nunique())
print("Interactions:", len(df))

Index(['user_id', 'item_id', 'watch_percentage', 'created_at', 'rating'], dtype='object')
user_id              int64
item_id              int64
watch_percentage     int64
created_at          object
rating               int64
dtype: object
Users: 822
Items: 776
Interactions: 3659

In [3]:
df["created_at"] = pd.to_datetime(df["created_at"])
df.sort_values(["user_id", "created_at"], inplace=True)
df.head()

      user_id  item_id  watch_percentage          created_at  rating
1247      672      538               100 2018-10-30 09:46:02      10
1248      672      815               100 2018-10-30 09:55:20      10
1249      672     7105               100 2018-10-30 09:59:44      10
2908      856    31994                 5 2018-11-13 11:20:36       1
1238     3928      528               100 2020-06-24 10:12:28      10

In [ ]:
df_uni = pd.DataFrame({
    "dataset": "mars",
    "user_id": df["user_id"].astype(str),
    "session_id": df["user_id"].astype(str),  # temp; will split by time gaps later
    "item_id": df["item_id"].astype(str),
    "timestamp": df["created_at"],
    "interaction_type": "explicit_rating"  # we can refine: rating or watch percentage
})

In [5]:
df_uni.to_parquet("../data/processed/mars_interactions.parquet", index=False)